@font-face {
    font-family: "Work Sans";
    src: url("/assets/fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face{
    font-family: "Be Vietnam Pro Medium";
    src: url("/assets/fonts/BeVietnamPro-Medium.ttf");
}

#aboutMe-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3%;
    width: 100%;
    height: 100vh;
    padding: 2%;
    overflow-x: hidden;
}

h2{
    font-family: "Be Vietnam Pro Medium";
}

.about-card{
    border-radius: 15px;
    box-shadow: var(--shadow-color) 0px 1px 3px 0px, 
                var(--shadow-color) 0px 1px 2px 0px;
    position: relative;
}

.about-card p,
.about-card li{
    font-family: "Work Sans";
}

.about-left{
    width: 25%;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 1%;
    width: 75%;
    height: 100%;
}

.right-top{
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: 35%; 
}

#name-card{
    display: flex;
    flex-direction: column;
    align-items: center; 
    cursor: default;
    padding: 2% 3%;
    font-size: 0.9rem;
    line-height: 1.5;
    --shadow-color: #f4a8d8;
}

#profile-photo{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: gray;
}

#profile-photo img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#facts-card{
    padding: 1% 2% 2% 2%;
    --shadow-color: #99c7f9;
    width: 34%;
}

#facts-card img{
    position: absolute;
    width: 40px;
    height: 55px;
    top: 45px;  
    right: 50px; 
}

#facts-card li{
    padding: 5% 2%;
    font-size: 1rem;
}

#hobbies-card{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1% 0.5% 3% 0.5%;
    --shadow-color: #63bf59d0;
    width: 50%;
}

#hobbies-card h2{
    padding-left: 3%;
    white-space: wrap;
}

#hobbies-card img{
    position: absolute;
    align-self: flex-end;
    width: 80px;
    height: 80px;
    padding: 0% 2% 0% 0%;
    bottom: 10px;  
    right: 15px;   
}

#hobbies-card li{
    padding: 1% 2% 4% 2%;
    font-size: 1rem;
}

#goals-card{
    display: flex;
    flex-direction: row;
    --shadow-color: #ffe15a;
    padding: 1% 2%;
    width: 87%;
    height: 25%;
}

.goals-left{
    position: relative;
    width: 20%;
    padding-left: 1%;
}

#goals-card img{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 15px;  
    left: 30px; 
}

#goals-card ul{
    width: 80%;
}

#goals-card li{
    padding: 1% 2% 2.5% 2%;
    font-size: 1rem;
}

@media screen and (max-width: 600px) and (orientation: portrait){

    #aboutMe-container{
        display: flex;
        flex-direction: column;
        gap: 2%;
        justify-items: center;
    }

    .about-card{
        width: 85%;
    }

    .about-left{
        width: 75%;
        margin: 5%;
    }

    .about-right{
        width: 100%;
        gap: 33%;
    }

    .right-top{
        flex-direction: column;
        width: 85%;
        gap: 5%;
    }

    #profile-photo{
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        background-color: gray;
    }   

    #profile-photo img{
        border-radius: 100%;
        width: 90px;
        height: 90px;
        object-fit: cover;
    }

    #facts-card{
        width: 90%;
        padding: 2% 5%;
    }

    #facts-card img{
        position: absolute;
        width: 40px;
        height: 55px;
        top: 30px;  
        right: 20px; 
    }

    #hobbies-card{
        width: 90%;
        padding: 2% 5% 20% 5%;
    }

    #goals-card{
        display: flex;
        flex-direction: column;
        width: 75%;
        height: auto;
        padding: 2%, 5%;
        margin-top: 120px;
    }

    .goals-left{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #goals-card h2{
        margin-left: 3%;
    }

    #goals-card img{
        top: 15px;      
        right: 10px;
        bottom: auto;   
        left: auto;
    }
}