
    <div class="searchBar-shell">
        <div class="search-bar">
            <img src="/assets/components/searchbar/searchIcon.png" alt="Search Icon">
            <input type="text" placeholder= "Start with a search. Discover what I've built . . .">
        </div>

        <div class="search-optionsBody close-options">
            <a href="/about-me/index.html" class="search-option" data-target="about">
                <span>wondering who made this?</span>
                <span> → </span>
            </a>
            <a href="/resume/index.html" class="search-option" data-target="resume">
                <span>check out the resume</span>
                <span> → </span>
            </a>
            <a href="/projects/index.html" class="search-option" data-target="projects">
                <span>see what’s been built</span>
                <span> → </span>
            </a>
            <a href="/contact/index.html" class="search-option" data-target="contact">
                <span>how do I say hi? 👋</span>
                <span> → </span>
            </a>
            <a href="/extras/index.html" class="search-option" data-target="extras">
                <span>discover what didn’t fit anywhere else</span>
                <span> → </span>
            </a>
        </div>
    </div>
    
  