body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > img:first-of-type{
    width: 6.5vw;
    margin: 5% 0% 0% 0%;
} 

body > em:last-of-type{
    margin-top: 5%;
    font-size: 1.25vw;
    animation-delay: 2.7s;
}

body > em:last-of-type a:hover{
    font-size: 1.3vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

h1{
    margin: 0% 0% 3% 0%;
    font-size: 4vw;
}

h2{
    margin: 1% 0% 4% 0%;
    font-size: 2.5vw;
}

a{
    text-decoration: none;
    font-family: "Work Sans";
    color: black;
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1s;
  }

@keyframes fadeIn{
    to{
      opacity: 1;
    }
}
  
.profile-options{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.profile-tile{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    cursor: pointer;
    background: rgb(194, 194, 194);
    width: 13.5vw;
    padding: 2%;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.profile-tile img{
    width: 4vw;
    margin-top: 3%;
}

.profile-tile p{
    font-weight: 500;
    font-size: 1.25vw;
    margin: 10% 0% 7% 0%;
}

#browser{
    background: #FCFBCE;
    animation-delay: 1.5s;
}

#browser p{
    color: #302E04;
}

#browser:hover{
    box-shadow: 4px 4px 4px 1px #EBE995;
}

#recruiter{
    background: #E9F5FE;
    animation-delay: 1.9s;
}

#recruiter p{
    color: #041D2C;
}

#recruiter:hover{
    box-shadow: 4px 4px 4px 1px #A3CAE3;
}

#developer{
    background: #FFE8F9;
    animation-delay: 2.3s;
}

#developer img{
    width: 6vw;
    margin-top: 6%;
}

#developer p{
    margin-top: 15%;
    color: #37062A;
}

#developer:hover{
    box-shadow: 4px 4px 4px 1px #EEC0E2;
}


@media (max-width: 480px) and (orientation: portrait){
/* Styles for PHONES in vertical orientation */
    body{
        overflow-x: hidden;
        margin-top: 25%;
    }

    body > img:first-of-type{
        width: 11vw;
    } 

    body > em:last-of-type{
        margin-top: 1%;
        font-size: 3.5vw;
    }

       body > em:last-of-type a:hover{
        font-size: 3.5vw;
    }

    h1{
        font-size: 6.5vw;
    }

    h2{
        font-size: 4vw;
        margin: 1% 0% 7% 0%;
    }

    .profile-options{
        display: flex;
        flex-direction: column;
        gap: 10%;
    }

    .profile-tile{
        width: 18vw;
        padding: 10% 2%;
        margin-bottom: 5vw;
    }

    .profile-tile img{
        width: 6vw;
        margin-top: 3%;
    }

    .profile-tile p{
        font-size: 2vw;
    }

    #developer img{
        width: 8.5vw;
    }
}

@media (max-width: 940px) and (orientation: landscape){
/* Styles for PHONES in horizontal orientation */
    body > img:first-of-type{
        width: 5vw;
        margin: 3% 0% 1% 0%;
    } 

    body > em:last-of-type{
        margin-top: 3%;
        font-size: 1.4vw;
        animation-delay: 2.7s;
    }

    body > em:last-of-type a:hover{
        font-size: 1.3vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    h1{
        font-size: 2.75vw;
        margin: 0% 0% 1% 0%;
    }

    h2{
        margin: 1% 0% 2% 0%;
        font-size: 2vw;
    }

}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
  /* Styles for TABLETS in vertical orientation */

    body{
        margin-top: 20%;
        overflow-y: auto;
    }

    body > img:first-of-type{
        width: 11vw;
    } 

    body > em:last-of-type{
        margin-top: 1%;
        font-size: 1.75vw;
    }

    body > em:last-of-type a:hover{
        font-size: 1.75vw;
    }

    h1{
        font-size: 6vw;
    }

    h2{
        font-size: 4vw;
        margin: 1% 0% 7% 0%;
    }

    .profile-options{
        gap: 7%;
    }

    .profile-tile{
        width: 20vw;
        padding: 3%;
        margin-bottom: 5vw;
    }

    .profile-tile img{
        width: 7vw;
        margin-top: 3%;
    }

    .profile-tile p{
        font-size: 1.8vw;
    }

    #developer img{
        width: 11vw;
    }
}

@media (min-width: 1024px) and (max-width: 1370px) and (orientation: landscape){
/* Styles for TABLET in horizontal orientation */
    body{
        margin-top: 4%;
    }
}

@media (min-width: 540px) and (max-width: 540px) and (orientation: portrait){
/* surface duo */
    body{
        margin-top: 30%;
    }
}

@media (min-width: 720px) and (max-width: 720px) and (orientation: landscape){
/* surface duo */
    body{
        margin-top: 7%;
    }
}