
/* ========  Shared Top Row ======== */
.top-row{
    display: flex;
    align-items: center;
    gap: 3.5%;
    width: 100%;
    margin: 1.5% 0 0 0;
    padding: 0 1.5% 1% 1.5%;

    border-bottom: 1.5px solid rgba(255, 255, 255, 0.25);
    box-sizing: border-box;

    top: 0;
    position: sticky;
    z-index: var(--z-sticky);
    transition: background 0.25s ease, backdrop-filter 0.25s ease;
}

.top-row > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 1;
    flex-shrink: 0;
}

.top-row > logo-button{ 
    grid-area: logo; 
    place-self: start center;
    inline-size: clamp(75px, 7.5vw, 100px);
}

.top-row > :nth-child(3){ 
    margin-left: auto;
    width: fit-content;
}

.top-row.scrolled{
    background: rgba(229, 229, 229, 0.139);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(10px);

    padding-top: 1.5%;
}


/* ======== Shared Footer ======== */
.end-result{ 
  place-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: var(--fade-color);
  margin: 5% 0; 
}

.end-result logo-button{
    width: clamp(50px, 70px, 90px);
}

.end-result h3{
    font-weight: 400;
    font-size: var(--text-medium);
}

.end-result p,
.end-result i{
    font-size: var(--text-small);
}
