
.res-skills{
    display: flex;
    flex-direction: column;
}

.res-skills h1{
    font-size: 1.3vw;
}

.skills-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.res-skills h2{
    font-size: 1.15vw;
}

.skills-colOne,
.skills-colTwo,
.skills-colThree{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.skills-tags{
    display: flex;
    flex-direction: column;
}

.skills-tags span{
    margin: 2%;
    align-self: center;
    font-size: 0.75vw;
    padding: 2% 5%;
    background: rgb(203, 232, 253);
    border-radius: 15px;
}

.skills-colTwo span{
    background: rgb(216, 245, 211);
}

.skills-colThree span{
    background: rgb(255, 249, 192);
}