<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Window</title>
    <link rel="stylesheet" href="../modal-window/modal.css">
</head>
<body>
    <button id="openModalBtn">Open Modal</button>
    <div id="mainModal" class="modal-window">
        <!-- <div class="modal-content">
            <span class="modal-close">&times;</span>
            <h1>Modal Window</h1>
            <span class="injected-content">
                No content added yet. 
            </span>
        </div> -->
    </div>
  <script type="module" src="/assets/components/modal-window/modal.js"> </script>
</body>
</html>