
/* ==== Logo Defaults ==== */

logo-button{
  --logo-size-default: clamp(110px, 2vw, 270px);
  --logo-button-size: var(--logo-size-default);
  --logo-button-color: var(--theme-logo-color);
  --logo-button-hover-color: var(--theme-hover-color);

  display: inline-block;
}

logo-button .logo{
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  color: var(--logo-button-color);
}

logo-button .logo svg{
  width: var(--logo-button-size);
  height: auto;
  display: block;
  stroke-width: 0;
}

logo-button.footer-logo svg{
  --logo-size-default: clamp(75px, 2vw, 1250px);
  width: var(--logo-size-default);
}


logo-button .logo:hover{
  color: var(--logo-button-hover-color);
}

/* =====================================
  FIDELITY
========================================*/

/* ==== Low Fidelity ==== */

html[data-fidelity="low"] {

  logo-button{
    --logo-button-color: var(--theme-text-color);
    --logo-button-hover-color: var(--theme-text-color);
  }
  
  logo-button .logo:hover{
    color: var(--logo-button-hover-color) !important;
  }
}

@media (min-width: 901px) and (max-width: 1215px){
  logo-button{
    --logo-button-size: clamp(90px, 2vw, 150px);
  }
}