
<div class="searchbar-body dropdown">
    <div class="searchbar-text">
        <img src="/assets/images/general/search-fig.png" alt="Search Icon">
        <input class="search-input" id="search-input" type="text" placeholder= "Start with a search ...">
    </div>

    <div class="search-dropdown dropdown-menu">
        <a class="search-option" data-section="about">
            <span class="suggestion-text result-string">wondering who made this?</span>
            <span class="indicator-arrow"> → </span>
        </a>
        <a class="search-option"  data-section="resume">
            <span class="suggestion-text result-string">check out the resume</span>
            <span class="indicator-arrow"> → </span>
        </a>
        <a class="search-option" data-section="projects">
            <span class="suggestion-text result-string">see what’s been built</span>
            <span class="indicator-arrow"> → </span>
        </a>
        <a class="search-option" data-section="contact">
            <span class="suggestion-text result-string">how do I say hi? 👋</span>
            <span class="indicator-arrow"> → </span>
        </a>
        <a class="search-option" data-section="extras">
            <span class="suggestion-text result-string"> discover what didn’t fit anywhere else</span>
            <span class="indicator-arrow"> → </span>
        </a>
    </div>
</div>





