<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Navbar Component </title>
    <link rel="stylesheet" href="/assets/components/navbar/navbar.css">   
    <link rel="stylesheet" href="/assets/css/global.css">
</head>
<body>
    <nav aria-labelledby="quick-links" class="pill-nav">
        <ul class="pill-grid">
            <li class="pill-item home">
                <a href="/pages/home/home.html" class="pill-button"> Home </a>
            </li>

            <li class="pill-item resume">
                <a href="/pages/resume/resume.html" class="pill-button"> Resume </a>
            </li>

            <li class="pill-item projects">
                <a href="/pages/projects/projects.html" class="pill-button"> My Projects </a>
            </li>

            <li class="pill-item about">
                <a href="/pages/about-me/about-me.html" class="pill-button"> About Me </a>
            </li>

            <li class="pill-item contact">
                <a href="/pages/contact-me/contact-me.html" class="pill-button"> Contact Me </a>
            </li>

            <li class="pill-item extras">
                <a href="/pages/progress/progress.html" class="pill-button"> More to Discover </a>
            </li>
        </ul>
    </nav>
    
    <script type="module" src="/scripts/init.js"></script>
</body>
</html>