/* =====================================
    PRIMARY NAVBAR DEFAULTS
========================================*/
    
primary-navbar{
    --nav-gap: var(--space-4);

    --nav-shape-color: var(--theme-button-color);
    --nav-shape-hover-color: var(--theme-hover-color);
    --nav-home-size: clamp(90px, 9vw, 100px);
    --nav-projects-size: clamp(135px, 9vw, 145px);
    --nav-resume-size: clamp(110px, 9vw, 120px);
    --nav-about-size: clamp(130px, 9vw, 140px);
    --nav-contact-size: clamp(163px, 9vw, 170px);
    --nav-extras-size: clamp(225px, 9vw, 230px);

    --nav-font-style: var(--font-style);

    --nav-text-size: var(--text-small);
    --nav-text-color: var(--theme-text-color);
    --nav-text-z-index: 1;
    --nav-text-top: 63%;
    --nav-text-left: 50%;
    --nav-text-transform: translate(-50%, -63%);

    --nav-overflow-padding: var(--space-3);
}

primary-navbar .primary-nav{
    display: flex;
    flex-direction: row;
    gap: var(--nav-gap);

    overflow: visible;
    padding-block: var(--nav-overflow-padding);
}

primary-navbar .nav-shape{
    --nav-shape-size: clamp(90px, 9vw, 100px);

    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    color: var(--nav-shape-color);
    width: var(--nav-shape-size);
    min-width: var(--nav-shape-size);
    flex: 0 0 var(--nav-shape-size);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background 0.3s ease;

    animation: cloudFloat 9s ease-in-out infinite;
    transform-origin: center;
}

primary-navbar .nav-shape:hover{
    color: var(--nav-shape-hover-color);
    animation-play-state: paused;
    filter: var(--hover-glow);
    transform: translateY(-8px) scale(1.04);
}

@keyframes cloudFloat{
    0%, 100% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-6px) scale(1.03);
    }
}

primary-navbar .nav-home{ 
    --nav-shape-size: var(--nav-home-size); 
    animation-delay: 2.5s;
}

primary-navbar .nav-projects{ 
    --nav-shape-size: var(--nav-projects-size); 
    animation-delay: 1s;
}

primary-navbar .nav-resume{ 
    --nav-shape-size: var(--nav-resume-size);
    animation-delay: 1.5s;
}

primary-navbar .nav-about{ 
    --nav-shape-size: var(--nav-about-size);
    animation-delay: 1s;
}

primary-navbar .nav-contact{ 
    --nav-shape-size: var(--nav-contact-size);
    animation-delay: 1.5s;
}

primary-navbar .nav-extras{ 
    --nav-shape-size: var(--nav-extras-size);
    animation-delay: 2.5s;
}

primary-navbar .nav-text{
    position: absolute;
    z-index: var(--nav-text-z-index);

    color: var(--nav-text-color);
    font-family: var(--nav-font-style);
    font-size: var(--nav-text-size);
    text-align: center;
    white-space: nowrap;

    top: var(--nav-text-top);
    left: var(--nav-text-left);
    transform: var(--nav-text-transform);
}

/* =====================================
    THEMING
========================================*/

html[data-theme="dawn"], 
html[data-theme="day"],
html[data-theme="sunset"],
html[data-theme="night"]{
    --theme-hover-color: var(--theme-button-color);
}

/* =====================================
    FIDELITY
========================================*/

/* ==== Low Fidelity ==== */

html[data-fidelity="low"] {
    
    primary-navbar .nav-shape svg {
        display: none;
    }

    primary-navbar .nav-shape{
        border: var(--border-value);
        border-radius: var(--button-radius);
        padding: var(--space-4) 0;
        animation: none;
    }

    primary-navbar .nav-shape:hover{
        filter: none;
        transform: none;
    }
}

/* ==== Mid Fidelity ==== */

html[data-fidelity="mid"] {
    
    primary-navbar .nav-shape svg {
        display: none;
    }

    primary-navbar .nav-shape{
        border: 1px solid var(--theme-text-color);
        border-radius: var(--button-radius);
        padding: var(--space-5) 0;
        animation: none;
    }

    primary-navbar .nav-shape:hover{
        filter: none;
    }
}

/* =====================================
    RESPONSIVE
========================================*/
@media (max-width: 700px){

    primary-navbar{
        --nav-gap: var(--space-2);

        --nav-home-size: clamp(95px, 9vw, 100px);
        --nav-projects-size: clamp(128px, 9vw, 133px);
        --nav-resume-size: clamp(110px, 9vw, 115px);
        --nav-about-size: clamp(120px, 9vw, 125px);
        --nav-contact-size: clamp(150px, 9vw, 155px);
        --nav-extras-size: clamp(205px, 9vw, 210px);

        --nav-text-top: 65%;
        --nav-text-left: 50%;
        --nav-text-transform: translate(-50%, -65%);
    }

    primary-navbar .primary-nav{
        display: flex;
        flex-wrap: nowrap;

        gap: var(--nav-gap);
        overflow-x: auto;
        overflow-y: hidden;
        padding-inline: var(--space-4);
        scrollbar-width: none;          
        -ms-overflow-style: none;   
        width: 100%;
    }

    primary-navbar .primary-nav::-webkit-scrollbar{
        display: none;
    }

    primary-navbar .nav-shape{
        flex: 0 0 auto;
    }

    primary-navbar .nav-text{
        font-size: var(--text-xsmall);
        
        top: var(--nav-text-top);
        left: var(--nav-text-left);
        transform: var(--nav-text-transform);
    }

    primary-navbar .nav-home{ --nav-shape-size: var(--nav-home-size); }

    primary-navbar .nav-projects{ --nav-shape-size: var(--nav-projects-size); }

    primary-navbar .nav-resume { --nav-shape-size: var(--nav-resume-size);}

    primary-navbar .nav-about { --nav-shape-size: var(--nav-about-size); }

    primary-navbar .nav-contact { --nav-shape-size: var(--nav-contact-size); }

    primary-navbar .nav-extras { --nav-shape-size: var(--nav-extras-size); }
}


@media (min-width: 701px) and (max-width: 900px){
 
    primary-navbar{

        --nav-gap: var(--space-2);

        --nav-home-size: clamp(90px, 9vw, 100px);
        --nav-projects-size: clamp(125px, 9vw, 133px);
        --nav-resume-size: clamp(105px, 9vw, 115px);
        --nav-about-size: clamp(118px, 9vw, 125px);
        --nav-contact-size: clamp(150px, 9vw, 155px);
        --nav-extras-size: clamp(200px, 9vw, 210px);
    }

    primary-navbar .primary-nav{
        display: flex;
        flex-wrap: nowrap;

        gap: var(--nav-gap);
        overflow-x: auto;
        overflow-y: hidden;
        padding-inline: var(--space-4);
        scrollbar-width: none;          
        -ms-overflow-style: none;   
        width: 100%;
    }

    primary-navbar .primary-nav::-webkit-scrollbar{
        display: none;
    }

    primary-navbar .nav-shape{
        flex: 0 0 auto;
    }

    primary-navbar .nav-text{
        font-size: var(--text-xsmall);
        
        top: var(--nav-text-top);
        left: var(--nav-text-left);
        transform: var(--nav-text-transform);
    }

    primary-navbar .nav-home{ --nav-shape-size: var(--nav-home-size); }

    primary-navbar .nav-projects{ --nav-shape-size: var(--nav-projects-size); }

    primary-navbar .nav-resume { --nav-shape-size: var(--nav-resume-size);}

    primary-navbar .nav-about { --nav-shape-size: var(--nav-about-size); }

    primary-navbar .nav-contact { --nav-shape-size: var(--nav-contact-size); }

    primary-navbar .nav-extras { --nav-shape-size: var(--nav-extras-size); }
}

@media (min-width: 901px) and (max-width: 1250px){

    primary-navbar{
        --nav-gap: var(--space-4);
        --nav-text-size: var(--text-xxsmall);

        --nav-home-size: clamp(85px, 9vw, 90px);
        --nav-projects-size: clamp(120px, 9vw, 133px);
        --nav-resume-size: clamp(100px, 9vw, 115px);
        --nav-about-size: clamp(113px, 9vw, 125px);
        --nav-contact-size: clamp(145px, 9vw, 155px);
        --nav-extras-size: clamp(195px, 9vw, 210px);
    }
}