.content-header {
    display: none;
}

.progress-section{
    max-width: 800px;
    margin: 5%;
    padding-left: 8.5%;
    color: var(--theme-text-color);
}

.progress-section h1{
    font-size: var(--text-large);
}

.progress-section p,
.progress-section i{
    font-size: var(--text-medium);
}

.ascii-progress{
    color: var(--theme-text-color);

    font-family: monospace;
    font-size: var(--text-large);
    
    margin-bottom: 3%;
    white-space: nowrap;
    width: 100%;
}

.ascii-progress-text{
    display: inline-block;
    width: 100%;
}

/* =====================================
    RESPONSIVE
========================================*/

/* ---  Mobile (vertical) --- */

@media (max-width: 500px) {

    body[data-page="extras"] .ambient-background {
        display: none;
    }

    .progress-section {
        max-width: none;
        margin: 10% 5%;
        padding-left: var(--space-0);
    }

    .ascii-progress {
        font-size: var(--text-medium);
        width: 100%;
        white-space: nowrap;
    }

    .ascii-progress-text {
        display: block;
        width: 100%;
    }
}


/* --- TABLET --- */

/* -- Vertical -- */
@media (min-width: 501px) and (max-width: 850px) {

    .progress-section{
        margin: var(--space-7);
        padding-left: 0;
    }
}