<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="/assets/components/sidebar/sidebar.css">   
</head>
<body>
    <input class="sidebarToggle" id="sidebarMenuToggle"
        type="checkbox"
        aria-hidden="true"/>

    <label class="sidebarMenuBtn" id="sidebarMenuBtn"
        for="sidebarMenuToggle"
        aria-label="Toggle menu">
        ☰
    </label>

    <label class="sidebarOverlay" id="sidebarOverlay"
        for="sidebarMenuToggle"
        aria-hidden="true"
    ></label>

    <aside class="sidebarPanel" aria-label="Sidebar navigation">
        <nav class="sidebarNav">
            <a class="sidebarItem" href="/index.html">Home</a>
            <a class="sidebarItem" href="/pages/about-me/about-me.html"> About Me </a>
            <a class="sidebarItem" href="/pages/resume/resume.html"> Resume </a>
            <a class="sidebarItem" href="/pages/projects/projects.html"> Projects </a>
        </nav>
    </aside>
</body>
</html>