
<div class="topBar-controls">
  <button id="help-button">?</button>
  <div class="profile-toggle">
    <button id="profile-button">
      <span class="icon-circle">
            <img src="/assets/images/default/home-profile.png" alt="Profile">
      </span>
      <span class="role-label"> Default </span>
      <span class="caret"> ▼ </span>
    </button>

    <section class="profile-window">
      <h1> Hello <span id="role-name"> User </span>! </h1>
      <p>  Would you like to switch profiles?</p>
  
      <span class="profile-switch" data-role="default">Default</span>
      <span class="profile-switch" data-role="browser">Browser</span>
      <span class="profile-switch" data-role="recruiter">Recruiter</span>
      <span class="profile-switch" data-role="developer">Developer</span>
    </section>
  </div>
</div>
